<h1>Change Power Supply</h1>

<form action="/psu/{{singlePsu._id}}?_method=PUT" method="POST">
    <label>Manufacturer:</label>
    <input type="text" name="brand" value="{{singlePsu.brand}}"/>

    <label>Max Power Output:</label>
    <input type="text" name="watts" value="{{singlePsu.watts}}"/>

    <label>80+ Efficiency Rating:</label>
    <input type="text" name="efficiency" value="{{singlePsu.efficiency}}"/>

    <label>Modularity:</label>
    <input type="text" name="modularity" value="{{singlePsu.modularity}}"/>
    
    <input type="submit" value ="Change to New Power Supply"/>
</form>
