<h1>Change Power Supply</h1>

<form action="/psu/{{singlePsu._id}}?_method=PUT" method="POST">

    <label>Rename Your PSU</label>
    <input type ="text" name="name" value="{{singlePsu.name}}"/>

    <label>Manufacturer:</label>
    <select type="text" name="brand" value="{{singlePsu.brand}}">
        <option>EBGH</option>
        <option>Corsail</option>
        <option>SeaSoning</option>
    </select>

    <label>Max Power Output:</label>
    <select type="text" name="watts" value="{{singlePsu.watts}}">
        <option>400 watts</option>
        <option>500 watts</option>
        <option>750 watts</option>
        <option>850 watts</option>
        <option>1000 watts</option>
        <option>1200 watts</option>
    </select>


    <label>80+ Efficiency Rating:</label>
    <select type="text" name="efficiency" value="{{singlePsu.efficiency}}">
        <option>None</option>
        <option>Bronze</option>
        <option>Silver</option>
        <option>Gold</option>
        <option>Platinum</option>
        <option>Titanium</option>
    </select>

    <label>Modularity:</label>
    <select type="text" name="modularity" value="{{singlePsu.modularity}}">
        <option>None</option>
        <option>Semi-Modular</option>
        <option>Modular</option>
    </select>
    
    <input type="submit" value ="Change to New Power Supply"/>
</form>
