

        <a href="/psu/{{singlePsu._id}}/edit">
            <button>
                Choose other Power Supply Unit
            </button>
        </a>
        
        <div class="title">Manufacturer:</div>
        {{singlePsu.brand}}

        <div class="title">Max Power Output:</div>
        {{singlePsu.watts}}

        <div class="title">80+ Efficiency Rating:</div>
        {{singlePsu.efficiency}}

        <div class="title">Modularity:</div>
        {{singlePsu.modularity}}

        <form action="/psu/{{singlePsu._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Remove from Build">
        </form>
