<div class="build-head">
    <div class="build-head-title">All RAM Kits:</div>
    <a class="build-head-return" href="/"> <= Return to Home Page</a>
</div>


<a href="/ram/new">
    <button>
        Add New RAM Kit
    </button>
</a>

{{#each allRams}}
    <a href="/ram/{{_id}}">
        <div class="list-item">
            {{name}}
            <div class ="item">
                <div class="title">Manufacturer:</div>
                {{brand}}
            </div>
            <div class ="item">
                <div class="title">Memory Capacity:</div>
                {{memory}}
            </div>
            <div class ="item">
                <div class="title">Generation:</div>
                {{ddr}}
            </div>
            <div class ="item">
                <div class="title">Frequency:</div>
                {{frequency}}
            </div>
        </div>
    </a>
{{/each}}
