<h1>Change RAM Kit</h1>

<form action="/ram/{{singleRam._id}}?_method=PUT" method="POST">
    <label>Manufacturer:</label>
    <input type="text" name="brand" value="{{singleRam.brand}}"/>

    <label>Memory Capacity:</label>
    <input type="text" name="memory" value="{{singleRam.memory}}"/>

    <label>Generation:</label>
    <input type="text" name="ddr" value="{{singleRam.ddr}}"/>

    <label>Speed:</label>
    <input type="text" name="frequency" value="{{singleRam.frequency}}"/>
    
    <input type="submit" value ="Change to New RAM Kit"/>
</form>
