<div class="build-head">
    <div class="build-head-title">{{singleRam.name}}</div>
    <a class="build-head-return" href="/ram"> <= Return to RAM Kits</a>
</div>


<div class="list-item">
    <div class="item">
        <div>Manufacturer:</div>
        <div class="item-value">{{singleRam.brand}}</div>
    </div>
    <div class="item">
        <div>Memory Capacity:</div>
        <div class="item-value">{{singleRam.memory}}</div>
    </div>
    <div class="item">
        <div>Generation:</div>
        <div class="item-value">{{singleRam.ddr}}</div>
    </div>
    <div class="item">
        <div>Frequency:</div>
        <div class="item-value">{{singleRam.frequency}}</div>
    </div>
</div>

<div class="footer">
<a href="/ram/{{singleRam._id}}/edit">
    <button class="footer-update">
        Update {{singleRam.name}}
    </button>
</a>
<form action="/ram/{{singleRam._id}}?_method=DELETE" method="POST">
    <input class="footer-delete" type="submit" value="Delete {{singleRam.name}}">
</form>
</div>
