<h1>Edit Motherboard</h1>
<a href="/mb/{{singleMb._id}}">Return to {{singleMb.name}}</a>
<form action="/mb/{{singleMb._id}}?_method=PUT" method="POST">
    
    <label>Rename Your Motherboard</label>
    <input type ="text" name="name" value="{{singleMb.name}}"/>

    <label>Manufacturer:</label>
    <select type="text" name="brand" value="{{singleMb.brand}}">
        <option>ACES</option>
        <option>EBGH</option>
        <option>Gigabit</option>
        <option>NSI</option>
    </select>

    <label>Size Class:</label>
    <select type="text" name="class" value="{{singleMb.class}}">
        <option>Mini-ITX</option>
        <option>Micro-ATX</option>
        <option>ATX (standard)</option>
        <option>XL-ATX</option>
    </select>

    <label>Status:</label>
    <select type="text" name="socketType" value="{{singleMb.socketType}}">
        <option>TeamRed</option>
        <option>TeamBlue</option>
    </select>

    <input type="submit" value ="Save Edits"/>
</form>
