<div class="build-head">
    <div class="build-head-title">{{singleMb.name}}</div>
    <a class="build-head-return" href="/mb">
        <= Return to All Motherboards</a>
</div>


<div class="list-item">
    <div class="item">
        <div>Manufacturer:</div>
        <div class="item-value">{{singleMb.brand}}</div>
    </div>
    <div class="item">
        <div>Size Class:</div>
        <div class="item-value">{{singleMb.class}}</div>
    </div>
    <div class="item">
        <div>CPU Socket Type:</div>
        <div class="item-value">{{singleMb.socketType}}</div>
    </div>
</div>

<div class="footer">
<a href="/mb/{{singleMb._id}}/edit">
    <button class="footer-update">
        Update {{singleMb.name}}
    </button>
</a>
<form action="/mb/{{singleMb._id}}?_method=DELETE" method="POST">
    <input class="footer-delete" type="submit" value="Delete {{singleMb.name}}">
</form>
</div>