
<a href="/mb">Return to All Motherboards</a>
        <a href="/mb/{{singleMb._id}}/edit">
            <button>
                Update {{singleMb.name}}
            </button>
        </a>

        {{name}}
        
        <div class="title">Manufacturer:</div>
        {{singleMb.brand}}

        <div class="title">Size Class:</div>
        {{singleMb.class}}

        <div class="title">CPU Socket Type:</div>
        {{singleMb.socketType}}

        <form action="/mb/{{singleMb._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete {{singleMb.name}}">
        </form>
