<h1>All PC Desktop Cases:</h1>

<a href="/case/new">
    <button>
        Add New Case
    </button>
</a>

{{#each allCases}}
    <a href="/case/{{_id}}">
        <div class="list-item">
            {{name}}
            <div class ="item">
                <div class="title">Manufacturer:</div>
                {{brand}}
            </div>
            <div class ="item">
                <div class="title">Case Size:</div>
                {{size}}
            </div>
            <div class ="item">
                <div class="title">Viewport Type:</div>
                {{viewPort}}
            </div>
            <div class ="item">
                <div class="title">Watercooling Friendly:</div>
                {{waterCool}}
            </div>
        </div>
    </a>
{{/each}}
