<div class="build-head">
    <div class="build-head-title">{{singleCase.name}}</div>
    <a class="build-head-return" href="/case"> <= Return to All PC Desktop Cases</a>
</div>


<div class="list-item">
    <div class="item">
        <div>Manufacturer:</div>
        <div class="item-value">{{singleCase.brand}}</div>
    </div>
    <div class="item">
        <div>Size Class:</div>
        <div class="item-value">{{singleCase.size}}</div>
    </div>
    <div class="item">
        <div>Viewport Type:</div>
        <div class="item-value">{{singleCase.viewPort}}</div>
    </div>
    <div class="item">
        <div>Watercooling Friendly:</div>
        <div class="item-value">{{singleCase.waterCool}}</div>
    </div>
</div>

<div class="footer">
<a href="/case/{{singleCase._id}}/edit">
    <button class="footer-update">
        Update {{singleCase.name}}
    </button>
</a>
<form action="/case/{{singleCase._id}}?_method=DELETE" method="POST">
    <input class="footer-delete" type="submit" value="Delete {{singleCase.name}}">
</form>
</div>

