

        <a href="/cpucooler/{{singleCpuCooler._id}}/edit">
            <button>
                Update {{singleCpuCooler.name}}
            </button>
        </a>
        
        {{name}}

        <div class="title">Manufacturer:</div>
        {{singleCpuCooler.brand}}

        <div class="title">Cooler Design:</div>
        {{singleCpuCooler.type}}

        <form action="/cpucooler/{{singleCpuCooler._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete {{singleCpuCooler.name}}">
        </form>
