<h1>All GPUs:</h1>

<a href="/gpu/new">
    <button>
        Add New GPU
    </button>
</a>

{{#each allGpus}}
    <a href="/gpu/{{_id}}">
        <div class="gpu-item">
            <div class ="item">
                <div class="title">Manufacturer:</div>
                {{brand}}
            </div>
            <div class ="item">
                <div class="title">Card Series:</div>
                {{series}}
            </div>
            <div class ="item">
                <div class="title">VRAM Capacity:</div>
                {{memory}}
            </div>
            <div class ="item">
                <div class="title">VRAM Generation:</div>
                {{ddr}}
            </div>
        </div>
    </a>
{{/each}}
