

        <a href="/gpu/{{singleGpu._id}}/edit">
            <button>
                Update {{singleGpu.name}}
            </button>
        </a>
        
        {{name}}

        <div class="title">Manufacturer:</div>
        {{singleGpu.brand}}
        
        <div class="title">Card Series:</div>
        {{singleGpu.series}}

        <div class="title">VRAM Capacity:</div>
        {{singleGpu.memory}}

        <div class="title">VRAM Generation:</div>
        {{singleGpu.ddr}}

        <form action="/gpu/{{singleGpu._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete {{singleGpu.name}}">
        </form>
