<h1>All CPUs:</h1>

<a href="/cpu/new">
    <button>
        Add New CPU
    </button>
</a>

{{#each allCpus}}
    <a href="/cpu/{{_id}}">
        <div class="list-item">
            {{name}}
            <div class ="item">
                <div class="title">Manufacturer:</div>
                {{brand}}
            </div>
            <div class ="item">
                <div class="title">Number of Cores:</div>
                {{cores}}
            </div>
            <div class ="item">
                <div class="title">Highest Core Frequency:</div>
                {{frequency}}
            </div>
            <div class ="item">
                <div class="title">Hyperthreading Enabeled:</div>
                {{hyperthreading}}
            </div>
        </div>
    </a>
{{/each}}
