<h1>Change CPU</h1>

<form action="/cpu/{{singleCpu._id}}?_method=PUT" method="POST">
    <label>Manufacturer:</label>
    <input type="text" name="brand" value="{{singleCpu.brand}}">

    <label>Number of Cores:</label>
    <input type="number" name="cores" value="{{singleCpu.cores}}"/>

    <label>Status:</label>
    <input type="text" name="status" value="{{singleCpu.frequency}}"/>

    <label>Hyperthreading Enabeled:</label>
    <input type="string" name="hyperthreading"value="{{singleCpu.hyperthreading}}/>
    
    <input type="submit" value ="Change to New CPU"/>
</form>
