<div class="build-head">
    <div class="build-head-title">{{singleCpu.name}}</div>
    <a class="build-head-return" href="/cpu">
        <= Return to All CPUs</a>
</div>


<div class="list-item">
    <div class="item">
        <div>Manufacturer:</div>
        <div class="item-value">{{singleCpu.brand}}</div>
    </div>
    <div class="item">
        <div>Number of Cores:</div>
        <div class="item-value">{{singleCpu.cores}}</div>
    </div>
    <div class="item">
        <div>Frequency:</div>
        <div class="item-value">{{singleCpu.frequency}}</div>
    </div>
    <div class="item">
        <div>Hyperthreading Enabeled:</div>
        <div class="item-value">{{singleCpu.hyperthreading}}</div>
    </div>
</div>

<div class="footer">
<a href="/cpu/{{singleCpu._id}}/edit">
    <button class="footer-update">
        Update {{singleCpu.name}}
    </button>
</a>
<form action="/cpu/{{singleCpu._id}}?_method=DELETE" method="POST">
    <input class="footer-delete" type="submit" value="Delete {{singleCpu.name}}">
</form>
</div>