<h1>All Case Fans + Radiators:</h1>

<a href="/fan/new">
    <button>
        Add New Case Fans
    </button>
</a>

{{#each allFans}}
    <a href="/fan/{{_id}}">
        <div class="fan-item">
            {{name}}
            <div class ="item">
                <div class="title">Manufacturer:</div>
                {{brand}}
            </div>
            <div class ="item">
                <div class="title">Fan Sizes:</div>
                {{size}}
            </div>
            <div class ="item">
                <div class="title">Quantity:</div>
                {{quantity}}
            </div>
            <div class ="item">
                <div class="title">Radiators:</div>
                {{wcRad}}
            </div>
        </div>
    </a>
{{/each}}
