

        <a href="/fan/{{singleFan._id}}/edit">
            <button>
                Change Fans + Radiators
            </button>
        </a>
        
        <div class="title">Manufacturer:</div>
        {{singleFan.brand}}

        <div class="title">Fan Sizes:</div>
        {{singleFan.size}}

        <div class="title">Quantity:</div>
        {{singleFan.quantity}}

        <div class="title">Radiators:</div>
        {{singleFan.wcRad}}

        <form action="/fan/{{singleFan._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Remove from Build">
        </form>
